df-azure-big-data-gierada/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-azure-big-data-gierada"
		},
		"data_processing_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'data_processing'"
		},
		"databricks_storage_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'databricks_storage'"
		},
		"social_media_analysis_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'social_media_analysis'"
		},
		"storage_account_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'storage_account'"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gist.githubusercontent.com/Vlaska/be08d353cd22be73b958b391fc033ea0/raw/929b726dc95d944178f9c5251b38d1a6a86f9513/social_network_data.csv"
		},
		"storage_account_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saazurebigdatagierada.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_processing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4991412674118956.16.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('data_processing_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "9.1.x-scala2.12",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/databricks_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-4991412674118956.16.azuredatabricks.net",
					"clusterId": "0110-153719-njuctzsg",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('databricks_storage_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/social_media_analysis')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('social_media_analysis_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/storage_account')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('storage_account_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('storage_account_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleaned_social_media_data_databricks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databricks_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {
					"database": "default",
					"table": "social_media_clean"
				},
				"schema": [
					{
						"name": "IP",
						"type": "string"
					},
					{
						"name": "Timestamp",
						"type": "timestamp"
					},
					{
						"name": "Device",
						"type": "string"
					},
					{
						"name": "Action",
						"type": "string"
					},
					{
						"name": "Description",
						"type": "string"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databricks_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_data_databricks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databricks_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {
					"database": "default",
					"table": "social_media_log"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databricks_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/social_media_data_synapse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "social_media_analysis",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "social_media"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/social_media_analysis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/source_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storage_account",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "social_network_data.csv",
						"fileSystem": "stagin"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Timestamp",
						"type": "String"
					},
					{
						"name": "IP",
						"type": "String"
					},
					{
						"name": "Device",
						"type": "String"
					},
					{
						"name": "Action",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storage_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/suspicious_ips_databricks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "databricks_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {
					"database": "default",
					"table": "suspicious_ips"
				},
				"schema": [
					{
						"name": "ip",
						"type": "string"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/databricks_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/suspicious_ips_table_synapse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "social_media_analysis",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Timestamp",
						"type": "varchar"
					},
					{
						"name": "IP",
						"type": "varchar"
					},
					{
						"name": "Device",
						"type": "varchar"
					},
					{
						"name": "Action",
						"type": "varchar"
					},
					{
						"name": "Description",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "social_media_suspicious_ips"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/social_media_analysis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "source_data",
								"type": "DatasetReference"
							},
							"name": "ingest"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "social_media_data_synapse",
								"type": "DatasetReference"
							},
							"name": "saveRawData"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tTimestamp as string,\n\t\tIP as string,\n\t\tDevice as string,\n\t\tAction as string,\n\t\tDescription as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ingest\ningest sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tstaged: false,\n\tpreSQLs:['TRUNCATE TABLE dbo.social_media;'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1,\n\terrorHandlingOption: 'stopOnFirstError') ~> saveRawData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/source_data')]",
				"[concat(variables('factoryId'), '/datasets/social_media_data_synapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/social_media_analysis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingest data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "load_data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ingest": {},
									"saveRawData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Copy data to databricks",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Ingest data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.raw"
							},
							{
								"name": "Destination",
								"value": "default.social_media_log"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureDatabricksDeltaLakeSink",
								"preCopyScript": "TRUNCATE TABLE default.social_media_log;",
								"importSettings": {
									"type": "AzureDatabricksDeltaLakeImportCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "storage_account",
									"type": "LinkedServiceReference"
								},
								"path": "stagin/databricks"
							}
						},
						"inputs": [
							{
								"referenceName": "social_media_data_synapse",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "raw_data_databricks",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Process data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy data to databricks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/social_media_log/process_data"
						},
						"linkedServiceName": {
							"referenceName": "data_processing",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Analyse data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Process data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/social_media_log/analyse_data"
						},
						"linkedServiceName": {
							"referenceName": "data_processing",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy suspicious IPs to Synapse",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Process data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDatabricksDeltaLakeSource",
								"exportSettings": {
									"type": "AzureDatabricksDeltaLakeExportCommand"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE dbo.social_media_suspicious_ips;",
								"allowCopyCommand": true,
								"copyCommandSettings": {},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "storage_account",
									"type": "LinkedServiceReference"
								},
								"path": "stagin/databricks"
							}
						},
						"inputs": [
							{
								"referenceName": "suspicious_ips_databricks",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "suspicious_ips_table_synapse",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy cleaned data to Synapse",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Process data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDatabricksDeltaLakeSource",
								"exportSettings": {
									"type": "AzureDatabricksDeltaLakeExportCommand"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE dbo.social_media;",
								"allowCopyCommand": true,
								"copyCommandSettings": {},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "storage_account",
									"type": "LinkedServiceReference"
								},
								"path": "stagin/databricks"
							}
						},
						"inputs": [
							{
								"referenceName": "cleaned_social_media_data_databricks",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "social_media_data_synapse",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-01-13T16:04:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/load_data')]",
				"[concat(variables('factoryId'), '/datasets/social_media_data_synapse')]",
				"[concat(variables('factoryId'), '/datasets/raw_data_databricks')]",
				"[concat(variables('factoryId'), '/linkedServices/data_processing')]",
				"[concat(variables('factoryId'), '/datasets/suspicious_ips_databricks')]",
				"[concat(variables('factoryId'), '/datasets/suspicious_ips_table_synapse')]",
				"[concat(variables('factoryId'), '/datasets/cleaned_social_media_data_databricks')]",
				"[concat(variables('factoryId'), '/linkedServices/storage_account')]"
			]
		}
	]
}